* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

body {
  margin: 0;
  position: relative;
  display: flex;
}

header {
  background-color: rgb(44, 44, 156);
  position: fixed;
  width: 100%;
  height: 85px;
}

.search-for {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-for__input {
  height: 25px;
  width: 250px;
  border-radius: 5px 0 0 5px;

  border: none;
}

.search-for__input:focus-visible {
  outline: 0;
}

.search-for__btn {
  height: 25px;
  width: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 0;
}

.search-for__btn:hover {
  cursor: pointer;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  padding: 0;
  list-style: none;
  padding-top: 70 px;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card:hover {
  transform: scale(1.03);
}

.gallery__image {
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}
.photo-card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}
.photo-card-link:hover {
  cursor: zoom-in;
}
