* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

body {
  margin: 0;
  position: relative;
  display: flex;
}

header {
  background-color: rgb(44, 44, 156);
  position: fixed;
  width: 100%;
  height: 85px;
}

.search-for {
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}

.search-for__input {
  height: 25px;
  width: 250px;
  border-radius: 5px 0 0 5px;

  border: none;
}

.search-for__input:focus-visible {
outline: 0;
}

.search-for__btn {
  height: 25px;
  width: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 0;
}

.search-for__btn:hover {
  cursor: pointer;
}

.gallery-list {
  margin-top: 70px;
}
